.footer {
    width: 100%;
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer h2 {
    margin-bottom: 10px;
}

.footer p {
    font-size: 18px;
}